<h1>{{title}}</h1>

Here is the song from your year of Birth
<br>
<ul>
  <li>Title: {{title}}</li>
  <li>Artist: {{artist}}</li>
  <li>Album: {{album}}</li>
</ul>

<iframe src="https://embed.spotify.com/?uri=spotify:track:{{songURI}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

<form class="" action="/" method="post">
  <button type="submit" name="New Song">Get a new song from this year</button>
  <button type="submit" name="New Year">Select new year</button>
  <button type="submit" name="Share Song">Share song</button>
</form>
