<h1>{{title}}</h1>

Here is the song from your year of Birth
<br>
<ul>
  <li>Title: {{songTitle}}</li>
  <li>Artist: {{artist}}</li>
  <li>Album: {{album}}</li>
</ul>

<iframe src="https://embed.spotify.com/?uri=spotify:track:{{songURI}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

  <a href="javascript:history.go(0)"><button type="submit" name="New Song">Get a new song from this year</button></a>
  <a href="/"><button type="submit" name="New Year">Select new year</button></a>

  <a href="{{twitterURL}}"><button type="button" class="tweet">Tweet this!</button></a>
